// Define variables for your color scheme

// For example:
$red: #DC143C;
$blue: #48D1CC;
$yellow: #FDB631;
$orange: #FF8C00;
$green: #2E8B57;
$gray: #2F4F4F;
$light-gray: #C0C0C0;
$teal: #87CEEB;
$slate: #708090;
